
/* Your CSS Code here. */
 table,th,td{
	border:1.6px solid black;
	border-collapse:collapse;
	padding:1px;
    width:40pc;
}

 th{
	background:rgb(216, 82, 102);
   color:white;
/* 	font-style:normal;  */
	text-align: left;
} 
td{
	 text-align: right;
/* 	font-style:normal; */
}

